.App {
  text-align: center;
}

h1 {
  position: absolute;
  left: 35%;
  width: 30%;
  font-size: 2.9em;
  color: dodgerblue;
  text-align: center;
}

img {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
}

#health { 
  position: absolute;
  left: 35%;
  top: 15%;
  width: 30%;
}

.player {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 40%;
  left: 20%;
}

.gun {
  display: flex;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 40%;
  right: 20%;
  align-items: center;
}

.bullet {
  top: 40%;
  z-index: 1000;
  position: absolute;
  display: inline-block;
}

.bullet-triangle {
  display: block;
  width: 0; 
  height: 0; 
  border-top: 22px solid transparent;
  border-bottom: 20px solid transparent; 
  border-right: 20px solid goldenrod; 
  float: left;
}

.bullet-body {
  font-weight: bold;
  float: left;
  width: 50px;
  height: 40px;
  border: 1px solid goldenrod;
  display: inline-grid;
  align-items: center;
  background-color: goldenrod;
  text-align: center;
}